@layer block {
  .site-header {
    --flow-space: var(--space-xs);
    --region-space: var(--space-xl) var(--space-l);

    border-block-end: 1px solid var(--color-border);

    p {
      font-size: var(--step-1);
      color: var(--color-text-muted);
    }
  }
}
